body {
  display: block;
  margin: 20px;
}

.container {
  margin-top: 30px;
}

.posts {
  min-width: 400px;
}

.card-body span {
  font-size: 13px;
}

.side-bar {
}

.home {
  display: flex;
}

h1 {
  color: red;
}

.card {
  margin: 10px;
}
